body{
    background-color: #fff; /* background-color: #fff */
    color: #555; /* color: #555 */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* font-family: Arial, sans-serif */
}
header {
    background-color: #000032; /* background-color: #000032 */
    color: #fff; /* color: #fff */
    background-image: url("images/sunset.jpg"); /*background-image: url("images/sunset.jpg"); */
    background-position: right; /* background-position: right */
    background-repeat: no-repeat; /* background-repeat: no-repeat */
    line-height: 400%; /* line-height: 400% */
    text-indent: 1em; /* text-indent: 1em */
}
nav {
    background-color: #bbdefb; /* background-color: #bbdefb */
    font-weight: bold; /* font-weight: bold */
}
nav a {
   text-decoration: none; /* text-decoration: none */
}
h1 {
    margin-bottom: 0;  /* margin-bottom: 0 */
}
h1, 
h2, 
h3, 
footer {
    font-family: Georgia, "Times New Roman", serif; 
}
h2 {
    color: #1976d2; /* color: #1976d2 */
}
h3{
    color: #003; /* color: #003 */
}
dt {
    color: #002171; /* color: #002171 */
}
address {
    font-style: normal; /* font-style: normal */
}
footer{
    font-size: 75%; /* font-size: 75% */
    font-style: italic; /* font-style: italic */
    text-align: center; /* text-align: center */
}
.resort {
    color: #1976d2; /* color: #1976d2 */ 
    font-weight: bold; /* font-weight: bold */
}